.container {
  width: 100%;
  .hero_slider {
    max-width: 1400px;
    margin: 0 auto;
    padding: 15px 0;

    .home_name {
      font-family: "Roboto Slab", serif;
      margin-bottom: 10px;
      font-size: 42px;
      color: #203867;
    }

    .carusel {
      position: relative;

      .card {
        display: flex;
        flex-direction: column;
        padding: 10px 0 20px;

        .card_box {
          box-shadow: 0 5px 10px rgb(0, 0, 0);
          width: 94%;
          cursor: pointer;
          border-radius: 12px;
          margin: 0 auto;
          border: none;
          overflow: hidden;
          height: 420px;
          position: relative;

          .image {
            height: 100%;
            img {
              height: 100%;
              object-fit: cover;
              width: 100%;
              transition: all 0.3s linear;
            }
          }

          .description {
            background-color: rgba(0, 0, 0, 0.619);
            position: absolute;
            bottom: 0;
            border: none;
            width: 100%;
            padding: 15px;
            height: 120px;
            text-align: center;
            font-family: "Roboto Slab", serif;

            .name {
              font-size: 18px;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 2;
              overflow: hidden;
              font-weight: 500;
              color: white;
              height: 52px;
            }

            .data {
              display: flex;
              gap: 4px;
              justify-content: center;
              color: white;
              margin-top: 6px;
            }
          }

          &:hover .image img {
            transform: scale(1.1);
            transition: all 0.3s linear;
          }
        }
      }

      .prev {
        position: absolute;
        left: -10px;
        transform: translateY(-50%);
        top: 48%;
        width: 40px;
        height: 40px;
        border: none;
        border-radius: 50%;
        display: grid;
        cursor: pointer;
        place-items: center;
        background: #0e2b65;
        transition: all 0.3s linear;
        svg {
          color: white;
          font-size: 24px;
        }

        &:hover {
          box-shadow: 0 0 12px #000;
        }
      }

      .next {
        position: absolute;
        right: -10px;
        transform: translateY(-50%);
        top: 48%;
        width: 40px;
        height: 40px;
        border: none;
        border-radius: 50%;
        display: grid;
        cursor: pointer;
        place-items: center;
        background: #0e2b65;
        transition: all 0.3s linear;
        svg {
          color: white;
          font-size: 24px;
        }

        &:hover {
          box-shadow: 0 0 12px #000;
        }
      }
    }

    .line {
      height: 1px;
      background-color: #223b6d;
      margin-bottom: 20px;
    }
  }
}

@media only screen and (max-width: 1400px) {
  .container {
    padding: 0 15px;
  }
}

@media only screen and (max-width: 770px) {
  .container {
    .hero_slider {
      .home_name {
        font-size: 32px;
      }
    }
  }
}
