.container {
  width: 100%;
  margin-top: auto;
  background-color: #0e2b65;

  .footer {
    max-width: 1400px;
    margin: 0 auto;
    padding: 25px 0;

    .footer_contact {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .footer_logo {
        width: 150px;

        img {
          width: 100%;
        }
      }

      .link {
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-family: "Roboto Slab", serif;

        span {
          font-size: 20px;
          color: white;
        }

        a {
          text-decoration: none;
          color: white;
          font-size: 20px;
        }

        .icons {
          display: flex;
          a {
            width: 42px;
            height: 42px;
            border-radius: 50%;
            background-color: #274175;
            display: grid;
            place-items: center;
            margin: 10px;
            transition: all 0.2s linear;

            svg {
              transition: all 0.2s linear;
            }

            &:hover {
              background-color: white;

              svg {
                color: black;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1400px) {
  .container {
    padding: 0 15px;
  }
}

@media only screen and (max-width: 1220px) {
  .container {
    .footer {
      .footer_contact {
        .footer_logo {
          width: 120px;
        }
        .link span,
        .link a {
          font-size: 18px;
        }

        .link {
          .icons {
            a {
              width: 36px;
              height: 36px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 770px) {
  .container {
    .footer {
      .footer_contact {
        flex-wrap: wrap;
        align-items: flex-start;
        gap: 20px;
        .footer_logo {
          width: 120px;
        }
        .link span,
        .link a {
          font-size: 16px;
        }

        .link {
          .icons {
            a {
              width: 36px;
              height: 36px;
            }
          }
        }
      }
    }
  }
}
