.container {
  width: 100%;
  .wrapper {
    max-width: 1400px;
    margin: 0 auto;
    padding: 120px 0 50px;

    .menu_link {
      display: flex;
      align-items: center;
      gap: 10px;
      font-family: "Roboto Slab", serif;
      button {
        font-size: 18px;
        background-color: transparent;
        border: none;
        font-weight: 600;
        font-family: "Roboto Slab", serif;
        cursor: pointer;
        color: #112c42;
        text-transform: uppercase;
      }

      span {
        font-size: 18px;
        font-weight: 900;
        color: #881a3b;
      }
    }

    .search {
      display: flex;
      align-items: center;
      border: 1px solid white;
      border-radius: 30px;
      height: 56px;
      background-color: #c2ddfc;
      box-shadow: 2px 5px 10px #6ba8e2;
      padding: 6px;
      box-sizing: border-box;
      margin: 15px 0 30px;
      justify-content: space-between;

      input {
        height: 100%;
        width: 94%;
        padding: 0 10px;
        background-color: #d6e5f7;
        border-radius: 30px;
        border: none;
        outline: none;
        transition: all 0.2s linear;
        font-size: 20px;
        color: #6ba8e2;

        &:active,
        &:focus {
          background-color: rgba(255, 255, 255, 0.797);
          transition: all 0.2s linear;
        }
      }

      svg {
        font-size: 36px;
        margin-right: 15px;
        cursor: pointer;
      }
    }

    .jadidlar_list {
      display: grid;
      margin: 50px 0 10px;
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;

      .card {
        height: 460px;
        width: 100%;
        border-radius: 15px;
        overflow: hidden;
        cursor: pointer;
        position: relative;
        img {
          width: 100%;
          height: 460px;
          transition: all 0.2s linear;
        }

        &:hover img {
          transform: scale(1.1);
          transition: all 0.2s linear;
        }

        .content {
          position: absolute;
          width: 100%;
          height: 120px;
          bottom: 0;
          left: 0;
          padding: 20px;
          display: flex;
          flex-direction: column;
          text-align: center;
          justify-content: space-between;
          background-color: rgba(0, 0, 0, 0.444);
          color: white;
          font-size: 18px;

          > span {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            font-weight: 700 !important;
            height: 54px;
            overflow: hidden;
            font-family: "Roboto Slab", serif;
          }
        }
      }
    }

    ul {
      display: flex;
      align-items: center;
      margin-top: 30px;
      justify-content: center;
      gap: 15px;
      li {
        list-style-type: none;
        a {
          height: 48px;
          width: 52px;
          display: flex;
          border: 1px solid #3642ad;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          border-radius: 2000px;
          background-color: transparent;
          transition: all 0.3s linear;
          font-size: 18px;
          font-weight: 700;
          font-family: "Roboto Slab", serif;

          &:hover {
            background-color: #3642ad;
            transition: all 0.3s linear;
            color: white;
          }
        }
      }

      .active {
        background-color: #3642ad;
        border-radius: 2000px;
        color: white;
      }
    }
  }
}
